* {
  padding: 0px;
  margin-left: 0;
  margin-right: 0;
  box-sizing: border-box;
}

body {
  margin-top: 75px;
  height: 100vh;
  width: 100%;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}




/*========================================================*/
/*==================== HEADER NAV BAR ====================*/
/*========================================================*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 10%;
  background-color: #191C25;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-shadow: rgba(36,28,21, 0.3) 0px 10px 10px -10px;
  z-index: 999;
}

.logo {
  margin-right: auto;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.logo:hover {
  color: rgba(214, 45, 141, 1);
  box-shadow: rgba(214, 45, 141, 1) 0px 4px;
}

.navigation-bar {
  list-style: none;
}

.features {
  margin: 0 20px;
}

.products {
  margin-right: 25px;
}


.navigation-bar .aaa {
  cursor: pointer;
  color: #fff;
  transition: all 0.3s ease 0s;
  font-weight: 600;
  text-decoration: none;
}
.navigation-bar .aaa:hover {
  color: rgba(214, 45, 141, 1);
} 




/*========================================================*/
/*================= NAV BAR HOVER EFFECTS ================*/
/*========================================================*/

.about::before {
  content: '';
  width: 0; 
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid rgba(255, 255, 255, 1);;
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px 3px 0;
  transition: all 0.2s ease 0s;
}

.about:hover:before {
  border-top-color:rgba(214, 45, 141, 1);
  transform: rotatex(180deg);
}


.features::before {
  content: '';
  width: 0; 
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid rgba(255, 255, 255, 1);;
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px 3px 0;
  transition: all 0.2s ease 0s;
}


.features:hover:before {
  border-top-color:rgba(214, 45, 141, 1);
  transform: rotatex(180deg);
}

.products::before {
  content: '';
  width: 0; 
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid rgba(255, 255, 255, 1);
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px 3px 0;
  transition: all 0.2s ease 0s;
}

.products:hover:before {
  transform: rotatey(180deg);
  border-top-color:rgba(214, 45, 141, 1);
  transform: rotatex(180deg);
}



 
/*========================================================*/
/*==================== NAV BAR BUTTON ====================*/
/*========================================================*/

.contact-button {
  font-size: 15px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  color: rgba(255, 255, 255, 1);
  background-color: #000;
  border-color: rgba(255, 255, 255, 1);
  border-radius: 50px;
  cursor: pointer;
  padding: 10px;
  transition: all 0.3s ease 0s;
}

.contact-button:hover {
  border-color: rgba(214, 45, 141, 1);
  color:rgba(214, 45, 141,1);
}




/*========================================================*/
/*================= MAIN PART INTRODUCTION ===============*/
/*========================================================*/

.introduction-container {
  padding: 30px 8% 0 8%;
  height: 575px;
  background-color: #fff;
  text-align: center;
}

.h2-title {
  font-size: 50px;
  font-family: 'Encode Sans', sans-serif;
  font-weight: 600;
}

.introduction-container p {
  font-weight: 100;
  font-size: 25px;
  letter-spacing: -0.5px;
}





.svg-wave-1 {
  margin-bottom: -4px;
}

.svg-wave-2 {
  background-color: #22725E;
  margin-bottom: -5px;
  transform: rotatex(180deg);
}

.svg-wave-3 {
  background-color: #363946;
  margin-bottom: -5px;
  transform: rotatex(180deg);
}




/*========================================================*/
/*====================== MAIN PART =======================*/
/*========================================================*/
/*========================================================*/
/*========================================================*/
/*===================== WEATHER AREA =====================*/
/*========================================================*/
/*========================================================*/
/*============== INTRODUCTION WEATHER AREA ===============*/
/*========================================================*/


.weather-background {
  padding: 0 8%;
  height: 650px;
  background-color: #1B91A1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
}

.weather-div-introduction {
  width: 400px;
}

.weather-div-introduction h2 {
  font-size: 70px;
  line-height: 60px;
}

.weather-div-introduction p {
  font-size: 20px;
  font-weight: 200;
  letter-spacing: -1px;
}




/*========================================================*/
/*=================== CARD LIGHT RAIN ====================*/
/*========================================================*/

.weather-div-card-light_rain-container {
  background-color: #436288;
  height: 400px;
  width: 300px;
  border: 2px solid #000;
  border-radius: 20px;
  box-shadow: #000 10px 10px 0 0;
  color: #000;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-div-card-light_rain-header {
  color: #fff;
  background-color: #436288;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 50px;
  width: 296px;
  padding: 0 20px;
  text-align: start;
  border-bottom: 2px solid #000;
}

.weather-div-card-light_rain-header h2, .weather-div-card-light_rain-header-p {
  font-size: 25px;
}

.weather-div-card-light_rain-body {
  background-color: #7296C2;
  height: 347px;
  width: 296px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.weather-div-card-light_rain-img {
  margin: 13px;
  height: 150px;
  width: 270px;
  border-radius: 5px;
  background-size: cover;
  border: 2px solid #000;
}

.weather-div-card-light_rain-img img{
  height: 100%;
  width: 100%;
}



.weather-div-card-light_rain-description {
  color: #f1f1f1;
  margin: 0 13px;
  font-size: 12px;
  font-weight: 200;
  text-align: center;
}

.weather-div-card-light_rain-buttom-container {
  margin: 13px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.weather-div-card-light_rain-buttom-play_pause {
  margin: 8px 0;
  width: 200px;
  color: #f1f1f1;
  background-color: #436288;
  border: 2px solid #000;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  height: 55px;
  transition: all 0.3s ease 0s;
}

.weather-div-card-light_rain-buttom-play_pause:hover {
  background-color: rgb(255, 180, 228);
  transform: scale(1.1);
  color: #000;
}

.weather-div-card-light_rain-previous_next-buttom-container {
  display: flex;
  justify-content: space-around;
}

.weather-div-card-light_rain-buttom-next {
  color: #fff;
  background-color: #436288;
  width: 90px;
  height: 50px;
  border-radius: 50px;
  box-shadow: #000 4px 4px 0 0;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  transition: all 0.3s ease 0s;
}

.weather-div-card-light_rain-buttom-next:hover {
  background-color: rgb(255, 180, 228);
  transform: scale(1.1);
  color:#000;
}

.weather-div-card-light_rain-buttom-previous {
  color: #f1f1f1;
  background-color: #436288;
  width: 90px;
  height: 50px;
  border-radius: 50px;
  box-shadow: #000 4px 4px 0 0;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  transition: all 0.3s ease 0s;
}

.weather-div-card-light_rain-buttom-previous:hover {
  color: #000;
  background-color: rgb(255, 180, 228);
  transform: scale(1.1)
}




/*========================================================*/
/*=================== CARD HEAVY RAIN ====================*/
/*========================================================*/

.weather-div-card-heavy_rain-container {
  background-color: #3D426B;
  height: 400px;
  width: 300px;
  border: 2px solid #000;
  border-radius: 20px;
  box-shadow: #000 10px 10px 0 0;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-div-card-heavy_rain-header {
  color: #fff;
  background-color: #3D426B;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 50px;
  width: 296px;
  padding: 0 20px;
  text-align: start;
  border-bottom: 2px solid #000;
}

.weather-div-card-heavy_rain-header h2, .weather-div-card-heavy_rain-header-p {
  font-size: 25px;
}

.weather-div-card-heavy_rain-body {
  background-color: #777B97;
  height: 347px;
  width: 296px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.weather-div-card-heavy_rain-img {
  margin: 13px;
  height: 150px;
  width: 270px;
  border-radius: 5px;
  background-size: cover;
  border: 2px solid #000;
}

.weather-div-card-heavy_rain-img img{
  height: 100%;
  width: 100%;
}



.weather-div-card-heavy_rain-description {
  color: #fff;
  margin: 0 13px;
  font-size: 12px;
  font-weight: 200;
  text-align: center;
}

.weather-div-card-heavy_rain-buttom-container {
  margin: 13px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.weather-div-card-heavy_rain-buttom-play_pause {
  margin: 8px 0;
  width: 200px;
  color: #fff;
  background-color: rgb(61, 66, 107);
  border: 2px solid #000;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  height: 55px;
  transition: all 0.3s ease 0s;
}

.weather-div-card-heavy_rain-buttom-play_pause:hover {
  background-color: rgb(255, 180, 228);
  transform: scale(1.1);
  color: #000;
}

.weather-div-card-heavy_rain-previous_next-buttom-container {
  display: flex;
  justify-content: space-around;
}

.weather-div-card-heavy_rain-buttom-next {
  background-color: rgba(61, 66, 107, 1);
  color: #fff;
  width: 90px;
  height: 50px;
  border-radius: 50px;
  box-shadow: #000 4px 4px 0 0;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  transition: all 0.3s ease 0s;
}

.weather-div-card-heavy_rain-buttom-next:hover {
  background-color: rgb(255, 180, 228);
  transform: scale(1.1);
  color: #000;
}

.weather-div-card-heavy_rain-buttom-previous {
  background-color: rgba(61, 66, 107, 1);
  color: #fff;
  width: 90px;
  height: 50px;
  border-radius: 50px;
  box-shadow: #000 4px 4px 0 0;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  transition: all 0.3s ease 0s;
}

.weather-div-card-heavy_rain-buttom-previous:hover {
  background-color: rgb(255, 180, 228);
  transform: scale(1.1);
  color: #000;
}




/*========================================================*/
/*=================== CARD WINTER WIND ===================*/
/*========================================================*/

.weather-div-card-winter_wind-container {
  background-color: #5F66B1;
  height: 400px;
  width: 300px;
  border: 2px solid #000;
  border-radius: 20px;
  box-shadow: #000 10px 10px 0 0;
  color: #000;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-div-card-winter_wind-header {
  color: #fff;
  background-color: #5F66B1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 50px;
  width: 296px;
  padding: 0 20px;
  text-align: start;
  border-bottom: 2px solid #000;
}

.weather-div-card-winter_wind-header h2, .weather-div-card-winter_wind-header-p {
  font-size: 25px;
}

.weather-div-card-winter_wind-body {
  background-color: #939AC8;
  height: 347px;
  width: 296px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.weather-div-card-winter_wind-img {
  margin: 13px;
  height: 150px;
  width: 270px;
  border-radius: 5px;
  background-size: cover;
  border: 2px solid #000;
}

.weather-div-card-winter_wind-img img{
  height: 100%;
  width: 100%;
}



.weather-div-card-winter_wind-description {
  color: #fff;
  margin: 0 13px;
  font-size: 12px;
  font-weight: 200;
  text-align: center;
}

.weather-div-card-winter_wind-buttom-container {
  margin: 13px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.weather-div-card-winter_wind-buttom-play_pause {
  margin: 8px 0;
  width: 200px;
  color: #f1f1f1;
  background-color: rgb(95, 102, 177);
  border: 2px solid #000;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  height: 55px;
  transition: all 0.3s ease 0s;
}

.weather-div-card-winter_wind-buttom-play_pause:hover {
  background-color: rgb(255, 180, 228);
  transform: scale(1.1);
  color: #000;
}

.weather-div-card-winter_wind-previous_next-buttom-container {
  display: flex;
  justify-content: space-around;
}

.weather-div-card-winter_wind-buttom-next {
  background-color: rgba(95, 102, 177, 1);
  color: #fff;
  width: 90px;
  height: 50px;
  border-radius: 50px;
  box-shadow: #000 4px 4px 0 0;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  transition: all 0.3s ease 0s;
}

.weather-div-card-winter_wind-buttom-next:hover {
  background-color: rgb(255, 180, 228);
  transform: scale(1.1);
  color: #000;
}

.weather-div-card-winter_wind-buttom-previous {
  background-color: rgba(95, 102, 177, 1);
  color: #fff;
  width: 90px;
  height: 50px;
  border-radius: 50px;
  box-shadow: #000 4px 4px 0 0;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  transition: all 0.3s ease 0s;
}

.weather-div-card-winter_wind-buttom-previous:hover {
  background-color: rgb(255, 180, 228);
  transform: scale(1.1);
  color: #000;
}







/*========================================================*/
/*=============== INTRODUCTION NATURE AREA ===============*/
/*========================================================*/

.nature-div-background {
  padding: 0 8%;
  height: 650px;
  background-color: #22725E;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction:row-reverse;
  color: #fff;
}

.nature-div-introduction {
  width: 400px;
}

.nature-div-introduction h2 {
  font-size: 70px;
  line-height: 60px;
}

.nature-div-introduction p {
  font-size: 20px;
  font-weight: 200;
  letter-spacing: -1px;
}




/*========================================================*/
/*=================== CARD DEEP JUNGLE ===================*/
/*========================================================*/

.nature-div-card-deep_jungle-container {
  background-color: #528042;
  height: 400px;
  width: 300px;
  border: 2px solid #000;
  border-radius: 20px;
  box-shadow: #000 10px 10px 0 0;
  color: #000;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nature-div-card-deep_jungle-header {
  color: #fff;
  background-color: #528042;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 50px;
  width: 296px;
  padding: 0 20px;
  text-align: start;
  border-bottom: 2px solid #000;
}

.nature-div-card-deep_jungle-header h2, .nature-div-card-deep_jungle-header-p {
  font-size: 25px;
}

.nature-div-card-deep_jungle-body {
  background-color: #78BC61;
  height: 347px;
  width: 296px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.nature-div-card-deep_jungle-img {
  margin: 13px;
  height: 150px;
  width: 270px;
  border-radius: 5px;
  background-size: cover;
  border: 2px solid #000;
}

.nature-div-card-deep_jungle-img img{
  height: 100%;
  width: 100%;
}



.nature-div-card-deep_jungle-description {
  color: #fff;
  margin: 0 13px;
  font-size: 12px;
  font-weight: 200;
  text-align: center;
}

.nature-div-card-deep_jungle-buttom-container {
  margin: 13px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nature-div-card-deep_jungle-buttom-play_pause {
  margin: 8px 0;
  width: 200px;
  color: #f1f1f1;
  background-color: #528042;
  border: 2px solid #000;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  height: 55px;
  transition: all 0.3s ease 0s;
}

.nature-div-card-deep_jungle-buttom-play_pause:hover {
  background-color: rgb(255, 180, 228);
  transform: scale(1.1);
  color: #000;
}

.nature-div-card-deep_jungle-previous_next-buttom-container {
  display: flex;
  justify-content: space-around;
}

.nature-div-card-deep_jungle-buttom-next {
  background-color: #528042;
  color: #fff;
  width: 90px;
  height: 50px;
  border-radius: 50px;
  box-shadow: #000 4px 4px 0 0;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  transition: all 0.3s ease 0s;
}

.nature-div-card-deep_jungle-buttom-next:hover {
  background-color: rgb(255, 180, 228);
  transform: scale(1.1);
  color: #000;
}

.nature-div-card-deep_jungle-buttom-previous {
  background-color: #528042;
  color: #fff;
  width: 90px;
  height: 50px;
  border-radius: 50px;
  box-shadow: #000 4px 4px 0 0;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  transition: all 0.3s ease 0s;
}

.nature-div-card-deep_jungle-buttom-previous:hover {
  background-color: rgb(255, 180, 228);
  transform: scale(1.1);
  color: #000;
}




/*========================================================*/
/*====================== CARD OCEAN ======================*/
/*========================================================*/

.nature-div-card-ocean-container {
  background-color: #0D6E65;
  height: 400px;
  width: 300px;
  border: 2px solid #000;
  border-radius: 20px;
  box-shadow: #000 10px 10px 0 0;
  color: #000;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nature-div-card-ocean-header {
  color: #fff;
  background-color: #0D6E65;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 50px;
  width: 296px;
  padding: 0 20px;
  text-align: start;
  border-bottom: 2px solid #000;
}

.nature-div-card-ocean-header h2, .nature-div-card-ocean-header-p {
  font-size: 25px;
}

.nature-div-card-ocean-body {
  background-color: #17C3B2;
  height: 347px;
  width: 296px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.nature-div-card-ocean-img {
  margin: 13px;
  height: 150px;
  width: 270px;
  border-radius: 5px;
  background-size: cover;
  border: 2px solid #000;
}

.nature-div-card-ocean-img img{
  height: 100%;
  width: 100%;
}



.nature-div-card-ocean-description {
  color: #fff;
  margin: 0 13px;
  font-size: 12px;
  font-weight: 200;
  text-align: center;
}

.nature-div-card-ocean-buttom-container {
  margin: 13px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nature-div-card-ocean-buttom-play_pause {
  margin: 8px 0;
  width: 200px;
  color: #f1f1f1;
  background-color: #0D6E65;
  border: 2px solid #000;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  height: 55px;
  transition: all 0.3s ease 0s;
}

.nature-div-card-ocean-buttom-play_pause:hover {
  background-color: rgb(255, 180, 228);
  transform: scale(1.1);
  color: #000;
}

.nature-div-card-ocean-previous_next-buttom-container {
  display: flex;
  justify-content: space-around;
}

.nature-div-card-ocean-buttom-next {
  background-color: #0D6E65;
  color: #fff;
  width: 90px;
  height: 50px;
  border-radius: 50px;
  box-shadow: #000 4px 4px 0 0;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  transition: all 0.3s ease 0s;
}

.nature-div-card-ocean-buttom-next:hover {
  background-color: rgb(255, 180, 228);
  transform: scale(1.1);
  color: #000;
}

.nature-div-card-ocean-buttom-previous {
  background-color: #0D6E65;
  color: #fff;
  width: 90px;
  height: 50px;
  border-radius: 50px;
  box-shadow: #000 4px 4px 0 0;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  transition: all 0.3s ease 0s;
}

.nature-div-card-ocean-buttom-previous:hover {
  background-color: rgb(255, 180, 228);
  transform: scale(1.1);
  color: #000;
}




/*========================================================*/
/*===================== CARD FOREST ======================*/
/*========================================================*/

.nature-div-card-forest-container {
  background-color: #004F2D;
  height: 400px;
  width: 300px;
  border: 2px solid #000;
  border-radius: 20px;
  box-shadow: #000 10px 10px 0 0;
  color: #000;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nature-div-card-forest-header {
  color: #fff;
  background-color: #004F2D;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 50px;
  width: 296px;
  padding: 0 20px;
  text-align: start;
  border-bottom: 2px solid #000;
}

.nature-div-card-forest-header h2, .nature-div-card-forest-header {
  font-size: 25px;
}

.nature-div-card-forest-body {
  background-color: #0A8754;
  height: 347px;
  width: 296px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.nature-div-card-forest-img {
  margin: 13px;
  height: 150px;
  width: 270px;
  border-radius: 5px;
  background-size: cover;
  border: 2px solid #000;
}

.nature-div-card-forest-img img {
  height: 100%;
  width: 100%;
}

.nature-div-card-forest-description {
  color: #fff;
  margin: 0 13px;
  font-size: 12px;
  font-weight: 200;
  text-align: center;
}

.nature-div-card-forest-buttom-container {
  margin: 13px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nature-div-card-forest-buttom-play_pause {
  margin: 8px 0;
  width: 200px;
  color: #f1f1f1;
  background-color: #004F2D;
  border: 2px solid #000;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  height: 55px;
  transition: all 0.3s ease 0s;
}

.nature-div-card-forest-buttom-play_pause:hover {
  background-color: rgb(255, 180, 228);
  transform: scale(1.1);
  color: #000;
}

.nature-div-card-forest-previous_next-buttom-container {
  display: flex;
  justify-content: space-around;
}

.nature-div-card-forest-buttom-next {
  background-color: #004F2D;
  color: #fff;
  width: 90px;
  height: 50px;
  border-radius: 50px;
  box-shadow: #000 4px 4px 0 0;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  transition: all 0.3s ease 0s;
}

.nature-div-card-forest-buttom-next:hover {
  background-color: rgb(255, 180, 228);
  transform: scale(1.1);
  color: #000;
}

.nature-div-card-forest-buttom-previous {
  background-color: #004F2D;
  color: #fff;
  width: 90px;
  height: 50px;
  border-radius: 50px;
  box-shadow: #000 4px 4px 0 0;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  transition: all 0.3s ease 0s;
}

.nature-div-card-forest-buttom-previous:hover {
  background-color: rgb(255, 180, 228);
  transform: scale(1.1);
  color: #000;
}




/*========================================================*/
/*=============== INTRODUCTION URBAN AREA ================*/
/*========================================================*/


.urban-background {
  padding: 0 8%;
  height: 650px;
  background-color: #363946;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
}

.urban-div-introduction {
  width: 400px;
}

.urban-div-introduction h2 {
  font-size: 70px;
  line-height: 60px;
}

.urban-div-introduction p {
  font-size: 20px;
  font-weight: 200;
  letter-spacing: -1px;
}




/*========================================================*/
/*====================== CARD CITY =======================*/
/*========================================================*/

.urban-div-card-city-container {
  background-color: #4B4E58;
  height: 400px;
  width: 300px;
  border: 2px solid #000;
  border-radius: 20px;
  box-shadow: #000 10px 10px 0 0;
  color: #000;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.urban-div-card-city-header {
  color: #fff;
  background-color: #4B4E58;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 50px;
  width: 296px;
  padding: 0 20px;
  text-align: start;
  border-bottom: 2px solid #000;
}

.urban-div-card-city-header h2, .urban-div-card-city-header {
  font-size: 25px;
}

.urban-div-card-city-body {
  background-color: #70798C;
  height: 347px;
  width: 296px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.urban-div-card-city-img {
  margin: 13px;
  height: 150px;
  width: 270px;
  border-radius: 5px;
  background-size: cover;
  border: 2px solid #000;
}

.urban-div-card-city-img img {
  height: 100%;
  width: 100%;
}



.urban-div-card-city-description {
  color: #fff;
  margin: 0 13px;
  font-size: 12px;
  font-weight: 200;
  text-align: center;
}

.urban-div-card-city-buttom-container {
  margin: 13px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.urban-div-card-city-buttom-play_pause {
  margin: 8px 0;
  width: 200px;
  color: #f1f1f1;
  background-color: #4B4E58;
  border: 2px solid #000;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  height: 55px;
  transition: all 0.3s ease 0s;
}

.urban-div-card-city-buttom-play_pause:hover {
  background-color: rgb(255, 180, 228);
  transform: scale(1.1);
  color: #000;
}

.urban-div-card-city-previous_next-buttom-container {
  display: flex;
  justify-content: space-around;
}

.urban-div-card-city-buttom-next {
  background-color: #4B4E58;
  color: #fff;
  width: 90px;
  height: 50px;
  border-radius: 50px;
  box-shadow: #000 4px 4px 0 0;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  transition: all 0.3s ease 0s;
}

.urban-div-card-city-buttom-next:hover {
  background-color: rgb(255, 180, 228);
  transform: scale(1.1);
  color: #000;
}

.urban-div-card-city-buttom-previous {
  background-color: #4B4E58;
  color: #fff;
  width: 90px;
  height: 50px;
  border-radius: 50px;
  box-shadow: #000 4px 4px 0 0;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  transition: all 0.3s ease 0s;
}

.urban-div-card-city-buttom-previous:hover {
  background-color: rgb(255, 180, 228);
  transform: scale(1.1);
  color: #000;
}




/*========================================================*/
/*=================== CARD BUSY PLACE ====================*/
/*========================================================*/

.urban-div-card-busy_place-container {
  background-color: #4E4240;
  height: 400px;
  width: 300px;
  border: 2px solid #000;
  border-radius: 20px;
  box-shadow: #000 10px 10px 0 0;
  color: #000;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.urban-div-card-busy_place-header {
  color: #fff;
  background-color: #4E4240;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 50px;
  width: 296px;
  padding: 0 20px;
  text-align: start;
  border-bottom: 2px solid #000;
}

.urban-div-card-busy_place-header, .urban-div-card-busy_place-header h2 {
  font-size: 25px;
}

.urban-div-card-busy_place-body {
  background-color: #97827B;
  height: 347px;
  width: 296px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.urban-div-card-busy_place-img {
  margin: 13px;
  height: 150px;
  width: 270px;
  border-radius: 5px;
  background-size: cover;
  border: 2px solid #000;
}

.urban-div-card-busy_place-img img{
  height: 100%;
  width: 100%;
}



.urban-div-card-busy_place-description {
  color: #fff;
  margin: 0 13px;
  font-size: 12px;
  font-weight: 200;
  text-align: center;
}

.urban-div-card-busy_place-buttom-container {
  margin: 13px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.urban-div-card-busy_place-buttom-play_pause {
  margin: 8px 0;
  width: 200px;
  color: #f1f1f1;
  background-color: #4E4240;
  border: 2px solid #000;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  height: 55px;
  transition: all 0.3s ease 0s;
}

.urban-div-card-busy_place-buttom-play_pause:hover {
  background-color: rgb(255, 180, 228);
  transform: scale(1.1);
  color: #000;
}

.urban-div-card-busy_place-previous_next-buttom-container {
  display: flex;
  justify-content: space-around;
}

.urban-div-card-busy_place-buttom-next {
  background-color: #4E4240;
  color: #fff;
  width: 90px;
  height: 50px;
  border-radius: 50px;
  box-shadow: #000 4px 4px 0 0;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  transition: all 0.3s ease 0s;
}

.urban-div-card-busy_place-buttom-next:hover {
  background-color: rgb(255, 180, 228);
  transform: scale(1.1);
  color: #000;
}

.urban-div-card-busy_place-buttom-previous {
  background-color: #4E4240;
  color: #fff;
  width: 90px;
  height: 50px;
  border-radius: 50px;
  box-shadow: #000 4px 4px 0 0;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  transition: all 0.3s ease 0s;
}

.urban-div-card-busy_place-buttom-previous:hover {
  background-color: rgb(255, 180, 228);
  transform: scale(1.1);
  color: #000;
}





/*========================================================*/
/*======================== FOOTER?? ========================*/
/*========================================================*/








