html {
  scroll-behavior: smooth;
}

* {
  padding: 0px;
  margin-left: 0;
  margin-right: 0;
  box-sizing: border-box;
}

body {
  margin-top: 40px;
  height: 100vh;
  width: 100%;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}




/*========================================================*/
/*==================== HEADER NAV BAR ====================*/
/*========================================================*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 10%;
  background-color: #191C25;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-shadow: rgba(36,28,21, 0.3) 0px 10px 10px -10px;
  z-index: 999;
}

.logo {
  margin-right: auto;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.logo:hover {
  color: rgba(214, 45, 141, 1);
  box-shadow: rgba(214, 45, 141, 1) 0px 4px;
}

.navigation-bar {
  list-style: none;
}

.features {
  margin: 0 20px;
}

.products {
  margin-right: 25px;
}


.navigation-bar .aaa {
  cursor: pointer;
  color: #fff;
  transition: all 0.3s ease 0s;
  font-weight: 600;
  text-decoration: none;
}
.navigation-bar .aaa:hover {
  color: rgba(214, 45, 141, 1);
} 




/*========================================================*/
/*================= NAV BAR HOVER EFFECTS ================*/
/*========================================================*/

.about::before {
  content: '';
  width: 0; 
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid rgba(255, 255, 255, 1);;
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px 3px 0;
  transition: all 0.2s ease 0s;
}

.about:hover:before {
  border-top-color:rgba(214, 45, 141, 1);
  transform: rotatex(180deg);
}


.features::before {
  content: '';
  width: 0; 
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid rgba(255, 255, 255, 1);;
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px 3px 0;
  transition: all 0.2s ease 0s;
}


.features:hover:before {
  border-top-color:rgba(214, 45, 141, 1);
  transform: rotatex(180deg);
}

.products::before {
  content: '';
  width: 0; 
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid rgba(255, 255, 255, 1);
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px 3px 0;
  transition: all 0.2s ease 0s;
}

.products:hover:before {
  transform: rotatey(180deg);
  border-top-color:rgba(214, 45, 141, 1);
  transform: rotatex(180deg);
}



 
/*========================================================*/
/*==================== NAV BAR BUTTON ====================*/
/*========================================================*/

.contact-button {
  font-size: 15px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  color: rgba(255, 255, 255, 1);
  background-color: #000;
  border-color: rgba(255, 255, 255, 1);
  border-radius: 50px;
  cursor: pointer;
  padding: 10px;
  transition: all 0.3s ease 0s;
}

.contact-button:hover {
  border-color: rgba(214, 45, 141, 1);
  color:rgba(214, 45, 141,1);
}




/*========================================================*/
/*================= MAIN PART INTRODUCTION ===============*/
/*========================================================*/

.introduction-container {
  padding: 0px 8% 0 8%;
  height: 575px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.h2-title {
  font-size: 50px;
  font-family: 'Encode Sans', sans-serif;
  font-weight: 600;
}

.introduction-container p {
  font-weight: 100;
  font-size: 25px;
  letter-spacing: -0.5px;
}


.buttom-start-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 40px;
  width: 180px;
  background-color: #fff;
  border-radius: 25px;
  border: solid rgba(214, 45, 141,0.6);
  transition: all 0.3s ease 0s;
}

.buttom-start-container a {
  text-decoration: none;
  color: rgba(214, 45, 141,0.6);
  font-weight: 600;
  text-align: center;
  font-size: large;

}




.buttom-start-container:hover {
  color: rgba(214, 45, 141, 1) ;
  border-color: rgba(214, 45, 141, 1);
  transform: scale(1.1);
}
.buttom-start-container a:hover {
  color: rgba(214, 45, 141, 1) ;
  border-color: rgba(214, 45, 141, 1);

}







.svg-wave-1 {
  background-color: #fff;
  margin-bottom: -5px;
}

.svg-wave-2 {
  background-color: #67BC48;
  margin-bottom: -5px;
  transform: rotatex(180deg);
}

.svg-wave-3 {
  background-color: #363946;
  margin-bottom: -5px;
  transform: rotatex(180deg);
}

.svg-wave-4 {
  background-color: #363946;
  margin-bottom: -5px;
}




/*========================================================*/
/*====================== MAIN PART =======================*/
/*========================================================*/
/*========================================================*/
/*========================================================*/
/*============== INTRODUCTION WEATHER AREA ===============*/
/*========================================================*/


.weather-background {
  padding: 0 8%;
  height: 650px;
  background-color: #1B91A1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.weather-div-introduction {
  width: 400px;
}

.weather-div-introduction h2 {
  font-size: 70px;
  line-height: 60px;
}

.weather-div-introduction p {
  font-size: 20px;
  font-weight: 200;
  letter-spacing: -1px;
}

.weather-div-cards-container {
  width: 500px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}


.weather-div-cards-container:hover .card {
  opacity: 0.5;
  filter: blur(3px);
  transition: all 0.5s ease 0s;
}

.weather-div-cards-container .card:hover {
  opacity: 1;
  filter: blur(0px);
  transform: scale(1.1);
  
}



.card {
  display: flex;
  align-items: center;
  justify-content: center;
} 

.card, .bbb {
  background-color: transparent;
  border: none;
  width: 350px;
  height: 80px;
  border-radius: 50px; 
}

.bbb {
  opacity: 0;
  transition: all 0.5s cubic-bezier(1, -0, 0, -1) 0s;
}

.bbb:hover {
  opacity: 1;
  transform: translatey(5px);
 

}



.card .bbb .play_icon {
  padding-bottom: 10px;
  cursor: pointer;
  color: #fff;
  width: 50px;
  height: 50px;
  transition: all 0.3s;
}

.card .bbb .play_icon:hover {
  color: rgba(214, 45, 141, 1);
  transform: scale(1.2);

}










/*========================================================*/
/*=================== CARD LIGHT RAIN ====================*/
/*========================================================*/

.container-light_rain {
  border: none;
  width: 350px;
  height: 80px;
  background-image: url(../imgs/light-rain.jpg);
  background-position-y: -55px;
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border-radius: 50px;
}

/*========================================================*/
/*=================== CARD HEAVY RAIN ====================*/
/*========================================================*/

.container-heavy_rain {
  border: none;
  width: 350px;
  height: 80px;
  background-image: url(../imgs/heavy-rain.jpg);
  background-position-y: -110px;
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  margin-left: 50px;
  border-radius: 50px;
}

/*========================================================*/
/*=================== CARD WINTER WIND ===================*/
/*========================================================*/

.container-winter_wind {
  border: none;
  width: 350px;
  height: 80px;
  background-image: url(../imgs/winter.jpg);
  background-position-y: -5px;
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  margin-right: 50px;
  border-radius: 50px;
}




/*========================================================*/
/*=============== INTRODUCTION NATURE AREA ===============*/
/*========================================================*/

.nature-background {
  padding: 0 8%;
  height: 650px;
  background-color: #67BC48;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.nature-div-introduction {
  width: 400px;
}

.nature-div-introduction h2 {
  font-size: 70px;
  line-height: 60px;
}

.nature-div-introduction p {
  font-size: 20px;
  font-weight: 200;
  letter-spacing: -1px;
}

.nature-div-cards-container {
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.nature-div-cards-container:hover .card {
  opacity: 0.5;
  filter: blur(3px);
  transition: all 0.5s ease 0s;
}

.nature-div-cards-container .card:hover {
  opacity: 1;
  filter: blur(0px);
  transform: scale(1.1);
  
}




/*========================================================*/
/*================== CARD DEEP JUNGLE ====================*/
/*========================================================*/

.container-deep_jungle {
  border: none;
  width: 350px;
  height: 80px;
  background-image: url(../imgs/jungle.jpg);
  background-position-y: -40px;
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border-radius: 50px;
}

/*========================================================*/
/*===================== CARD FOREST ======================*/
/*========================================================*/

.container-forest {
  border: none;
  width: 350px;
  height: 80px;
  background-image: url(../imgs/forest.jpg);
  background-position-y: -120px;
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  margin-left: 50px;
  border-radius: 50px;
}

/*========================================================*/
/*====================== CARD OCEAN ======================*/
/*========================================================*/

.container-ocean {
  border: none;
  width: 350px;
  height: 80px;
  background-image: url(../imgs/ocean.jpeg);
  background-position-y: -70px;
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  margin-right: 50px;
  border-radius: 50px;
}




/*========================================================*/
/*=============== INTRODUCTION URBAN AREA ================*/
/*========================================================*/

.urban-background {
  padding: 0 8%;
  height: 650px;
  background-color: #363945;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.urban-div-introduction {
  width: 400px;
}

.urban-div-introduction h2 {
  font-size: 70px;
  line-height: 60px;
}

.urban-div-introduction p {
  font-size: 20px;
  font-weight: 200;
  letter-spacing: -1px;
}

.urban-div-cards-container {
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.urban-div-cards-container:hover .card {
  opacity: 0.5;
  filter: blur(3px);
  transition: all 0.5s ease 0s;
}

.urban-div-cards-container .card:hover {
  opacity: 1;
  filter: blur(0px);
  transform: scale(1.1);
  
}




/*========================================================*/
/*======================== CITY ==========================*/
/*========================================================*/

.container-city {
  border: none;
  width: 350px;
  height: 80px;
  background-image: url(../imgs/city-2.jpg);
  background-position-y: -41px;
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border-radius: 50px;
}

/*========================================================*/
/*===================== CARD FOREST ======================*/
/*========================================================*/

.container-busy_place {
  border: none;
  width: 350px;
  height: 80px;
  background-image: url(../imgs/busy-place.jpg);
  background-size: cover;
  background-position-y: -30px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  margin-left: 50px;
  border-radius: 50px;
}



/*========================================================*/
/*======================== FOOTER?? ========================*/
/*========================================================*/

.footer-body {
  height: 250px;
  color: #f1f1f1;
  background-color: #0f0f0f;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.footer-body h2 {
  color: #f1f1f1;

  font-size: 40px;
}



.social_medias-body img {
  width: 25px;
  height: 25px;
}

.social_medias-body {
  margin: 0 10px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content:center;
  gap: 15px;
}

.footer-p-2 {
  color: #5d5d64;
}







